<template name="AddComment">
    <form role="form" class="form-horizontal" id="addCommentForm">
        <div class="form-group">
            <label for="addComment">Type your comment message below then hit submit.</label>
            <textarea type="text" rows="4" class="form-control" id="addComment" name="addComment" required></textarea>
        </div>
        <div class="form-group">
            <button style="width: 20%; height: 50px; text-align: center; float: right;" type="submit" class="form-control btn btn-primary">Submit</button>
        </div>
    </form>
</template>